CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*

CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
/nbproject/private/
/app/webroot/profile
/app/webroot/profile_resize1
/app/webroot/profile_resize